.bebidas {
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
  }
  
  .bebidas-header {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
    border-bottom: 5px solid #d4c114;
  }
  
  .bebidas-itens-lista {
    display: grid;
    grid-template-columns: repeat(3, minmax(190px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bebidas-item {
    padding: 1rem;
    color: #fff;
    transition: transform 0.2s ease;
  }
  
  .bebidas-item ul li {
list-style: none;
  }

  .bebidas-item:hover {
    transform: scale(1.03);
    color: #d4c114;
    cursor: pointer;
  }
  
  .bebidas-item img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;

  }

  .bebidas-item p {
    font-size: 1.0rem;
    color: #cccccc;
    text-align: left;
    justify-content: space-around;
  }

  .bebidas-item p:hover {
    
    color: #d4c114;
    cursor: pointer;
  }

  .bebidas-item h5 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0.5rem;
    border-bottom: 5px solid #d4c114;
    text-align: left;
  }
  
  .nome {
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }
  
  .molhos-lista li {
    color: #fff;
    margin-bottom: 0.5rem;
    text-align: left;
  font-size: 25px;
  }
  
  .bebidas-itens-lista li img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  
  .bebidas-itens-lista li:hover {
    color: #d4c114;
  
  }