.gnocchi {
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
}

.gnocchi-header h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.gnocchi-itens-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gnocchi-item {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8));
  border-radius: 20px;
  padding: 1rem;
  color: #fff;
  box-shadow: 0 4px 10px rgba(7, 7, 7, 0.3);
  transition: transform 0.2s ease;
}

.gnocchi-item:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.15);
}

.gnocchi-item img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.nome {
  font-weight: bold;
  color: #fdfdfd;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
