html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #2c2c2c, rgb(53, 53, 53), #2c2c2c);
  color: white;
  font-family: sans-serif;
  height: 100%;
}

#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "cardapio cardapio cardapio"
    "info info info"
    ". gnocchi ."
    ". molhos ."
    ". pastas ."
    "bebidas bebidas bebidas";
  height: 100vh;
  gap: 10px;
}

.cardapio {
  grid-area: cardapio;
  color: white;
  padding: 1rem;
}

.info {
  grid-area: info;
  color: white;
  padding: 1rem;
}

.gnocchi {
  grid-area: gnocchi;
  color: white;
  padding: 1rem;
}

.molhos {
  grid-area: molhos;
  color: white;
  padding: 1rem;
}

.pastas {
  grid-area: pastas;
  color: white;
  padding: 1rem;
}

.bebidas {
  grid-area: bebidas;
  color: white;
  padding: 1rem;
}


